<!DOCTYPE html>
<html>
 <head> 
 <title>
   Alina Hassan
 </title>
 
 </head> 
 
  <body>
    
      
    <h1><center>About Meh</center></h1>
    
     <h2>What's your favorite part of KWK?</h2>
    <h2></h2>
    <br>
    <br>
    <h2>Which parent are you more alike?</h2>
    <h2></h2>
    <br>
    <br>
    <h2>Who did you look up to growing up?</h2>
    <h2></h2>
    <br>
    <br>
    <h2>Favorite actress and why?</h2>
    <h2></h2>
    <br>
    <br>
    <h2>Favorite music genre?</h2>
    <h2></h2>
    <br>
    <br>
    <h2>Favorite cultural activity?</h2>
    <h2></h2>
    <br>
    
  </body>
  
  </body>
  
</html>