<!DOCTYPE html>
<html>
 <head> 
 <title>
   R.A.H.N
 </title>
 
 </head> 
 
  <body>
    
      
    <h1><center>US PAKI'S GOTTA STICK TOGETHER</h1></center>
    <h3><center>Hi! Our names are Alina Hassan and Rabiah Naeem.</h3></center>
    
  </body>
  
</html>

<body>
  {backgroung-image: https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BSxsT2ETgj17i4701/videoblocks-triangle-polygon-background-pattern-blue-and-orange-triangle-polygon-spring-background_svuv5ebag_thumbnail-full01.png);
</body>